*{
    margin: 0%;
    padding: 0%;
}
#map{
    height: 50%;
    
    margin-top: 10%;
}
html, body {
    height: 100%;
    background: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 195, 255));
    

  }
.row{
    height: 100%;
    margin: 0% !important;

}
.caja{
    height: 70%;
    margin-top: 0% !important;
}
.imgFoodmap{
    width: 25%;
    margin-bottom: 0% !important;
    margin-top: 1em;
}
.input-field{
    margin: 0% !important;
}
.fondo{
    height: 70%;
    background-color:black;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10%;
    padding: 2em;
}
.inputBuscar{
    background-color: white;
    height: 10%;
}
#infoPhoto.modal-trigger{
  margin-top: 2em;

    width: 40% !important;
    height: 10% !important;
    
}
/**/
