*{
    margin: 0%;
    padding: 0%;
}
#map{
    height: 80%;
    
}
html, body{
    height: 100%;
    background: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 195, 255));

  }
  /*row que encierra el logo y el input*/
.h{
    height: 100%;
    margin: 0% !important;
    
}

/* div donde esta el mapa*/
.caja{
    height: 30%;
    
   }
/* logo*/
.imgFoodmap{
    width: 30%;
    margin-bottom: 0% !important;
    margin-top: 1em;
}

.fondo{
    height: 100%;
    background-color:black;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10%;
    padding: 2em;
}
.inputBuscar{
    background-color: white;
   
}
#infoPhoto.modal-trigger img{
  
align-content: center;
    width: 40% !important;
    height: 10% !important;
    padding: 1em;
   
    
}
.mood{
   
    background: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 195, 255));

    margin-top: 30%;
}
/**/